Import Libraries

In [34]:
import pandas as pd
import numpy as np
import os
import yfinance as yf

Currency Codes

In [35]:
country_currency_codes_table = {
    'Burundi': 'BIF',
    'Benin': 'XOF',
    'Burkina Faso': 'XOF',
    'Central African Republic': 'XAF',
    "Côte d'Ivoire": 'XOF',
    'Cameroon': 'XAF',
    'Democratic Republic of the Congo': 'CDF',
    'Congo, Rep.': 'XAF',
    'Comoros': 'KMF',
    'Eritrea': 'ERN',
    'Ethiopia': 'ETB',
    'Ghana': 'GHS',
    'Guinea': 'GNF',
    'Gambia, The': 'GMD',
    'Guinea-Bissau': 'XOF',
    'Liberia': 'LRD',
    'Madagascar': 'MGA',
    'Mali': 'XOF',
    'Mozambique': 'MZN',
    'Mauritania': 'MRU',
    'Malawi': 'MWK',
    'Niger': 'XOF',
    'Rwanda': 'RWF',
    'Sudan': 'SDG',
    'Senegal': 'XOF',
    'Sierra Leone': 'SLL',
    'Somalia': 'SOS',
    'São Tomé and Principe': 'STN',
    'Chad': 'XAF',
    'Togo': 'XOF',
    'Tanzania': 'TZS',
    'Uganda': 'UGX',
    'Zambia': 'ZMW'
}

Read Data

In [36]:
#read in stata dataset as dataframe "country_code_df"
country_code_df = pd.read_stata("codesffactors_Mar23_2019.dta") 
country_code_df.replace('--', np.nan, inplace=True) #replace all entries that are '--' with NaN data value

country_code_df.head()

,countryname,wbctry,wbcode,wbregion,wbigroup2017,wblcat2017,hipc,emu,cemac,waemu,imfcode,imfweocode,imfweoiso,imfweoctry,region
0,Aruba,Aruba,ABW,Latin America & Caribbean,High income,NaN,0,0,0,0,NaN,314.0,ABW,Aruba,LAC
1,Afghanistan,Afghanistan,AFG,South Asia,Low income,IDA,1,0,0,0,512.0,512.0,AFG,Afghanistan,SAS
2,Angola,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,0,0,0,0,614.0,614.0,AGO,Angola,SSA
3,Anguilla,NaN,AIA,Latin America & Caribbean,NaN,NaN,0,0,0,0,312.0,NaN,NaN,NaN,LAC
4,Albania,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,0,0,0,0,914.0,914.0,ALB,Albania,ECA

In [37]:
region_classification_ls = country_code_df['wbregion'].unique() #get a list of region classifications
income_classification_ls = country_code_df['wbigroup2017'].unique() #get a list of income classifications
income_classification_ls = [x for x in income_classification_ls if not pd.isna(x)] # remove '--' from income_classification_ls

print(f"The region classifications are: {', '.join(country for country in region_classification_ls)}")
print(f"The income classifications are: {', '.join(country for country in income_classification_ls)}")

The region classifications are: Latin America & Caribbean, South Asia, Sub-Saharan Africa, Europe & Central Asia, Middle East & North Africa, East Asia & Pacific, North America
The income classifications are: High income, Low income, Lower middle income, Upper middle income

In [38]:
ssa_hipc_countries = country_code_df[(country_code_df['hipc'] == 1) & (country_code_df['wbregion'] == 'Sub-Saharan Africa')]
ssa_hipc_countries_ls = ssa_hipc_countries['imfweoctry'].to_list()

ssa_hipc_countries_ls

['Burundi',
 'Benin',
 'Burkina Faso',
 'Central African Republic',
 "Côte d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of Congo',
 'Comoros',
 'Eritrea',
 'Ethiopia',
 'Ghana',
 'Guinea',
 'The Gambia',
 'Guinea-Bissau',
 'Liberia',
 'Madagascar',
 'Mali',
 'Mozambique',
 'Mauritania',
 'Malawi',
 'Niger',
 'Rwanda',
 'Sudan',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'São Tomé and Príncipe',
 'Chad',
 'Togo',
 'Tanzania',
 'Uganda',
 'Zambia']

In [39]:
#convert to USD

#get average per country

#get overall average

#calculate breakdowns


argentina_df = pd.read_excel("Argentina.xlsx") 

argentina_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Detailed Revenue Breakdown,Detailed Revenue Breakdown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country: Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sector: Budgetary central government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit: Domestic currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Scale: Millions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Read in IMF's Government Finance Statistics

In [40]:
master_table = {}
folder_path = "expenditure-data-test"

# Loop that goes through all files 'file_name' in the folder 'folder_path'
for file_name in os.listdir(folder_path):
  if file_name.endswith('.xlsx') and not file_name.startswith('~$'): #check to see if is spreadsheet .xlsx format
    raw_df = pd.read_excel(folder_path+ "/" + file_name) #read in .xlsx as dataframe
    master_table[file_name[:-5]] = raw_df #store dataframe as an entry in the master_table hash table

# master_table["Central African Republic"]
master_table["Benin"]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Detailed Expense Breakdown,NaN,NaN,NaN,NaN
1,Country: Benin,NaN,NaN,NaN,NaN
2,Sector: Budgetary central government,NaN,NaN,NaN,NaN
3,Unit: Domestic currency,NaN,NaN,NaN,NaN
4,Scale: Billions,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,2010.000000,2011.000000,2012.000000,2013.0
7,Expense,459.011490,457.660567,534.669798,577.5
8,Compensation of employees,235.600075,242.117067,267.900275,296.2
9,Wages and salaries,235.600075,242.117067,267.900275,296.2
10,Employers' social contributions,0.000000,0.000000,0.000000,0.0
11,Use of goods and services,71.197566,68.703453,94.436470,106.1
12,Interest expense,17.734935,14.973871,23.143175,19.9
13,To nonresidents,8.106149,7.831106,10.604660,9.8
14,To residents other than government units,9.628786,7.142766,12.538515,10.1
15,To other government units,0.000000,0.000000,0.000000,0.0
16,Subsidies,20.525565,33.553247,55.091217,49.5
17,To public corporations,20.525565,33.553247,55.091217,49.5
18,To private enterprises,0.000000,0.000000,0.000000,0.0
19,To other sectors,0.000000,0.000000,0.000000,0.0
20,Grants,101.794146,86.975987,80.503177,91.1
21,To foreign governments,0.000000,0.000000,0.000000,0.0
22,To international organizations,6.166268,5.812560,6.894267,8.2
23,To other government units,95.627878,81.163427,73.608910,82.9
24,Current,95.627878,81.163427,73.608910,82.9
25,Capital,0.000000,0.000000,0.000000,0.0
26,Social benefits,0.775000,0.987000,0.783000,0.9
27,Social security benefits,0.000000,0.000000,0.000000,0.0
28,Social assistance benefits,0.000000,0.000000,0.000000,0.0
29,Employment-related social benefits,0.775000,0.987000,0.783000,0.9
30,Other expense,11.384204,10.349942,12.812484,13.7
31,Property expense other than interest,0.000000,0.000000,0.000000,0.0
32,Expense on other transfers,11.384204,10.349942,12.812484,13.7

Convert values to USD

In [41]:
error_countries = []

#loop through table (where key is the country name) (master_table[key] is the dataframe stored in the master_table indexed by key)
for key in master_table:
  scale = master_table[key].iloc[4,0] #get if values have scale of billions or millions
  
  # Drop rows 0 to 5, reformatting indexes and column headers
  master_table[key] = master_table[key].drop([0, 1, 2, 3, 4, 5]) 
  master_table[key] = master_table[key].reset_index(drop=True) 
  master_table[key].columns = master_table[key].iloc[0]
  master_table[key] = master_table[key][1:]
  master_table[key] = master_table[key].set_index(master_table[key].columns[0])

  if scale == "Scale: Billions":
    master_table[key] = master_table[key]* (10 ** 9) #multiple every value in dataframe by 1e9 if scale is billion
  elif scale == "Scale: Millions":
    master_table[key] = master_table[key]* (10 ** 6) #multiple every value in dataframe by 1e9 if scale is billion


  #get annual 2010-2019 USD to domestic currency exchange rate using yfinance library
  currency = country_currency_codes_table[key] #retrieve currency symbol from 'country_currency_codes_table'
  symbol = f"{currency}=X"
  try:
    data = yf.download(symbol, start="2010-01-01", end="2020-01-01", interval="1mo") #download monthly USD-Currency dataset from 2010-2020
    yearly_data_df = data['Close'].resample('YE').mean() #get the annual average exchange rate outputted as datafram
    yearly_data_table = yearly_data_df.to_dict() # Convert the yearly_data to a hash table with the date as the key
    year_to_exchange_rate_dict = {key.year: value for key, value in yearly_data_table.items()} # Convert the keys to only the year part
    print(year_to_exchange_rate_dict)

    #convert DataFrame values to USD
    for year in master_table[key].columns: #loop through columns in dataframe
      year_int = int(year)  # Convert year to integer to match the dictionary keys
      master_table[key][year] = master_table[key][year] / year_to_exchange_rate_dict[year_int] #divide each column's values by that year's exchange rate

  except Exception as e: #if errored out
    print(f"Could not fetch rate for {key} ({currency}): {e}")
    error_countries.append(key) #add country to error list
    pass

for country in error_countries:
  del master_table[country]
 
master_table["Central African Republic"]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{2010: 487.61083221435547, 2011: 460.5933329264323, 2012: 501.0466715494792, 2013: 492.91916910807294, 2014: 497.47583770751953, 2015: 594.4266713460287, 2016: 594.0358378092448, 2017: 577.82666015625, 2018: 557.75, 2019: 583.7949981689453}
{2010: 487.61083221435547, 2011: 460.5933329264323, 2012: 501.0466715494792, 2013: 492.91916910807294, 2014: 497.47583770751953, 2015: 594.4266713460287, 2016: 594.0358378092448, 2017: 577.82666015625, 2018: 557.75, 2019: 583.7949981689453}
{2010: 487.5991668701172, 2011: 460.59083048502606, 2012: 501.04666900634766, 2013: 492.91916910807294, 2014: 497.4808349609375, 2015: 594.4341735839844, 2016: 594.0333353678385, 2017: 578.2424977620443, 2018: 556.1933390299479, 2019: 586.7139180501302}
{2010: 487.61083221435547, 2011: 460.5933329264323, 2012: 501.0466715494792, 2013: 492.91916910807294, 2014: 497.47583770751953, 2015: 594.4266713460287, 2016: 594.0358378092448, 2017: 577.82666015625, 2018: 557.75, 2019: 583.7949981689453}
{2010: 2070.574991861979, 2011: 1995.8000183105469, 2012: 2154.4749755859375, 2013: 2174.9000040690103, 2014: 2460.4250284830728, 2015: 3095.6833699544272, 2016: 3135.3916625976562, 2017: 3076.9583333333335, 2018: 3307.1916707356772, 2019: 3290.9500080744424}
Could not fetch rate for Madagascar (MGA): 2005

,2010.0,2011.0,2012.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
nan,,,,,,,,,
Expense,3.551931e+08,3.358478e+08,2.093398e+08,1.555653e+08,1.569674e+08,1.642455e+08,1.805644e+08,2.245356e+08,2.204805e+08
Compensation of employees,8.779782e+07,9.985210e+07,1.022113e+08,1.081127e+08,9.534378e+07,8.279333e+07,8.647410e+07,1.102782e+08,1.108752e+08
Wages and salaries,8.405521e+07,9.553701e+07,9.782711e+07,1.034500e+08,9.108528e+07,7.970268e+07,8.255782e+07,1.058746e+08,9.729955e+07
Employers' social contributions,3.742620e+06,4.315085e+06,4.384219e+06,4.662738e+06,4.258503e+06,3.090653e+06,3.916279e+06,4.403609e+06,1.357561e+07
Use of goods and services,2.056766e+08,1.637742e+08,4.988226e+07,1.276029e+07,2.562712e+07,3.698782e+07,4.797987e+07,5.479749e+07,6.199103e+07
Interest expense,1.950690e+07,1.516111e+07,1.182258e+07,4.361513e+06,7.902999e+06,1.945396e+06,3.813279e+06,5.036432e+06,1.104797e+07
To nonresidents,5.700481e+06,5.881727e+06,4.716965e+06,4.086546e+06,5.627230e+05,1.826497e+06,3.616130e+06,4.775731e+06,2.798638e+06
To residents other than government units,1.380642e+07,9.279386e+06,7.105619e+06,2.749664e+05,7.340276e+06,1.188991e+05,1.971491e+05,2.607007e+05,0.000000e+00
To other government units,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.249336e+06
Subsidies,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To public corporations,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To private enterprises,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To other sectors,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Grants,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To foreign governments,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To international organizations,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To other government units,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Current,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Capital,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social security benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social assistance benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Employment-related social benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Other expense,8.203459e+05,6.513373e+06,NaN,3.033082e+07,2.809354e+07,4.251894e+07,4.229713e+07,5.442352e+07,3.656637e+07
Property expense other than interest,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Expense on other transfers,8.203459e+05,6.513373e+06,NaN,3.033082e+07,2.809354e+07,4.251894e+07,4.229713e+07,5.442352e+07,3.656637e+07

Get Averages

In [42]:
master_averages_ls = [] #make master averages list as place to store averages

#Get average over decade
#loop through table (where key is the country name) (master_table[key] is the dataframe stored in the master_table indexed by key)
for key in master_table:
  categories = master_table[key].index.tolist() #get the categories into a list (1d array)
  per_category_average = master_table[key].mean(axis=1) #get the average of each category (ignoring np.NaN values) into a list
  master_averages_ls.append(per_category_average)
  print(type(per_category_average))
  # per_category_average = master_table[key].apply(lambda row: np.nanmean(row), axis=1).to_numpy() #get the average of each category (ignoring np.NaN values) into a 1d array

  print(per_category_average)
  # average_table = dict(zip(categories, per_category_average)) #combine 'categories' and 'per_category_average' into a table
  # master_averages_table[key] = master_averages_table #store this table in master_averages_table

# master_averages_ls
  
merged_df = pd.DataFrame()

# Merge each Series into the DataFrame
for i, series in enumerate(master_averages_ls):
    merged_df = merged_df.merge(series.rename(f'series_{i}'), how='outer', left_index=True, right_index=True)
merged_df

<class 'pandas.core.series.Series'>
nan
Expense                                     1.043420e+09
Compensation of employees                   5.361067e+08
Wages and salaries                          5.361067e+08
Employers' social contributions             0.000000e+00
Use of goods and services                   1.747257e+08
Interest expense                            3.886061e+07
To nonresidents                             1.866825e+07
To residents other than government units    2.019236e+07
To other government units                   0.000000e+00
Subsidies                                   8.132911e+07
To public corporations                      8.132911e+07
To private enterprises                      0.000000e+00
To other sectors                            0.000000e+00
Grants                                      1.857708e+08
To foreign governments                      0.000000e+00
To international organizations              1.391523e+07
To other government units                   1.718555e+08
Current                                     1.718555e+08
Capital                                     0.000000e+00
Social benefits                             1.780214e+06
Social security benefits                    0.000000e+00
Social assistance benefits                  0.000000e+00
Employment-related social benefits          1.780214e+06
Other expense                               2.479571e+07
Property expense other than interest        0.000000e+00
Expense on other transfers                  2.479571e+07
dtype: float64
<class 'pandas.core.series.Series'>
nan
Expense                                     5.762191e+09
Compensation of employees                   2.148333e+09
Use of goods and services                   9.430980e+08
Interest expense                            5.488007e+08
To nonresidents                             3.019132e+08
To residents other than government units    2.468874e+08
To other government units                   0.000000e+00
Subsidies                                   6.277551e+08
To public corporations                      5.825506e+08
To private enterprises                      2.525831e+08
To other sectors                            6.206619e+07
Grants                                      9.301776e+08
To foreign governments                      0.000000e+00
To international organizations              1.132604e+07
To other government units                   9.188516e+08
Current                                     6.400566e+08
Capital                                     2.787950e+08
Social benefits                             6.973695e+07
Social security benefits                    0.000000e+00
Social assistance benefits                  7.963374e+06
Employment-related social benefits          6.177357e+07
Other expense                               4.942882e+08
Property expense other than interest        0.000000e+00
Expense on other transfers                  4.942882e+08
dtype: float64
<class 'pandas.core.series.Series'>
nan
Expense                                     2.225266e+08
Compensation of employees                   9.819317e+07
Wages and salaries                          9.304325e+07
Employers' social contributions             5.149924e+06
Use of goods and services                   7.327519e+07
Interest expense                            8.955355e+06
To nonresidents                             3.773938e+06
To residents other than government units    4.264824e+06
To other government units                   9.165928e+05
Subsidies                                   0.000000e+00
To public corporations                      0.000000e+00
To private enterprises                      0.000000e+00
To other sectors                            0.000000e+00
Grants                                      0.000000e+00
To foreign governments                      0.000000e+00
To international organizations              0.000000e+00
To other government units                   0.000000e+00
Current                                     0.000000e+00
Capital                                     0.000000e+00
Social benefits                             0.000000e+00
Social security benefits                    0.000000e+00
Social assistance benefits                  0.000000e+00
Employment-related social benefits          0.000000e+00
Other expense                               3.019550e+07
Property expense other than interest        0.000000e+00
Expense on other transfers                  3.019550e+07
dtype: float64
<class 'pandas.core.series.Series'>
nan
Expense                                     1.914727e+08
Compensation of employees                   9.221744e+07
Wages and salaries                          9.221744e+07
Employers' social contributions             0.000000e+00
Use of goods and services                   4.861610e+07
Interest expense                            1.156158e+07
To nonresidents                             4.920423e+06
To residents other than government units    6.641153e+06
To other government units                   0.000000e+00
Subsidies                                   5.053144e+06
To public corporations                      5.053144e+06
To private enterprises                      0.000000e+00
To other sectors                            0.000000e+00
Grants                                      1.612048e+07
To foreign governments                      0.000000e+00
To international organizations              1.522005e+06
To other government units                   1.459848e+07
Current                                     1.459848e+07
Capital                                     0.000000e+00
Social benefits                             1.671946e+07
Social security benefits                    0.000000e+00
Social assistance benefits                  1.360886e+05
Employment-related social benefits          1.658337e+07
Other expense                               1.184530e+06
Property expense other than interest        0.000000e+00
Expense on other transfers                  1.184530e+06
dtype: float64

,series_0,series_1,series_2,series_3
nan,,,,
Capital,0.000000e+00,2.787950e+08,0.000000e+00,0.000000e+00
Compensation of employees,5.361067e+08,2.148333e+09,9.819317e+07,9.221744e+07
Current,1.718555e+08,6.400566e+08,0.000000e+00,1.459848e+07
Employers' social contributions,0.000000e+00,NaN,5.149924e+06,0.000000e+00
Employment-related social benefits,1.780214e+06,6.177357e+07,0.000000e+00,1.658337e+07
Expense,1.043420e+09,5.762191e+09,2.225266e+08,1.914727e+08
Expense on other transfers,2.479571e+07,4.942882e+08,3.019550e+07,1.184530e+06
Grants,1.857708e+08,9.301776e+08,0.000000e+00,1.612048e+07
Interest expense,3.886061e+07,5.488007e+08,8.955355e+06,1.156158e+07
Other expense,2.479571e+07,4.942882e+08,3.019550e+07,1.184530e+06
Property expense other than interest,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social assistance benefits,0.000000e+00,7.963374e+06,0.000000e+00,1.360886e+05
Social benefits,1.780214e+06,6.973695e+07,0.000000e+00,1.671946e+07
Social security benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Subsidies,8.132911e+07,6.277551e+08,0.000000e+00,5.053144e+06
To foreign governments,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To international organizations,1.391523e+07,1.132604e+07,0.000000e+00,1.522005e+06
To nonresidents,1.866825e+07,3.019132e+08,3.773938e+06,4.920423e+06
To other government units,1.718555e+08,0.000000e+00,9.165928e+05,0.000000e+00
To other government units,1.718555e+08,0.000000e+00,9.165928e+05,1.459848e+07
To other government units,1.718555e+08,0.000000e+00,0.000000e+00,0.000000e+00
To other government units,1.718555e+08,0.000000e+00,0.000000e+00,1.459848e+07
To other government units,1.718555e+08,9.188516e+08,9.165928e+05,0.000000e+00
To other government units,1.718555e+08,9.188516e+08,9.165928e+05,1.459848e+07
To other government units,1.718555e+08,9.188516e+08,0.000000e+00,0.000000e+00
To other government units,1.718555e+08,9.188516e+08,0.000000e+00,1.459848e+07
To other government units,0.000000e+00,0.000000e+00,9.165928e+05,0.000000e+00
To other government units,0.000000e+00,0.000000e+00,9.165928e+05,1.459848e+07
To other government units,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To other government units,0.000000e+00,0.000000e+00,0.000000e+00,1.459848e+07
To other government units,0.000000e+00,9.188516e+08,9.165928e+05,0.000000e+00
To other government units,0.000000e+00,9.188516e+08,9.165928e+05,1.459848e+07
To other government units,0.000000e+00,9.188516e+08,0.000000e+00,0.000000e+00
To other government units,0.000000e+00,9.188516e+08,0.000000e+00,1.459848e+07
To other sectors,0.000000e+00,6.206619e+07,0.000000e+00,0.000000e+00
To private enterprises,0.000000e+00,2.525831e+08,0.000000e+00,0.000000e+00
To public corporations,8.132911e+07,5.825506e+08,0.000000e+00,5.053144e+06
To residents other than government units,2.019236e+07,2.468874e+08,4.264824e+06,6.641153e+06
Use of goods and services,1.747257e+08,9.430980e+08,7.327519e+07,4.861610e+07
Wages and salaries,5.361067e+08,NaN,9.304325e+07,9.221744e+07